#Formularz {
    @include grid;      
    height: 100vh;
    .tab_form {        
        a {
            position: relative;
            z-index: 99;               
            &[show="true"] {
                background-color: green;
                color: white;                   
            }
        }
    }
    .formularz_box {        
        @include box-shadow;
        width: 100%;
        padding: 50px 25px;
        display: block;
        input[type="radio"] {
            display: inline-block;
        }
        .tab {
            display: none;
        }
        .show {
            display: block;
        }
        .button {
            @include button;  
            &#search_city {
                display: inline;  
                width: 100%;
            }  
            &.next_form {
                width: 10%;
                float: right;
            }              
        }
        .alert_form_field {
            font-size: 12px;
            line-height: 20px;
            color: red;
        }
        #searched_cities {
            li {
                list-style-type: none;
            }
        }
    }
}

